<html>
  <head>
  <style>
    body {
      background: <%= color %>;
    }
  </style>
</head>
  <body>
    <h3> <%= message %> </h3>
    <p>
      The SECRET NUMBER is <%= number %>
    </p>

    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
